@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: #f0f0f0;
  color: #333333;
  width: 100%;
  font-family: "Montserrat";
  margin: 0 auto;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#container {
  width: 950px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 6px;
  padding-top: 50px;
  margin: 0;
  text-align: center;
  -webkit-animation: 1.5s ease-out 0s 1 slideInFromTop;
          animation: 1.5s ease-out 0s 1 slideInFromTop;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: rgba(22, 131, 204, 0.233);
          text-decoration-color: rgba(22, 131, 204, 0.233);
}

#sub_title {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 17px;
  margin: 10px 0 0 0;
  text-align: center;
  -webkit-animation: 1.5s ease-out 0s 1 slideInFromTop;
          animation: 1.5s ease-out 0s 1 slideInFromTop;
}

#github:hover img {
  width: 46px;
  opacity: 1;
  margin-bottom: 0px;
  margin-top: 0px;
}

#github img {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 40px;
  margin-bottom: 3px;
  margin-top: 3px;
}

h1, #sub_title, #github img, hr, .chapter {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

hr {
  border: 0 gainsboro solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

#color_mode {
  width: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  z-index: 99;
  opacity: 0.8;
}

#color_mode:hover {
  opacity: 1;
  -webkit-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.chapter {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.project_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  background-color: rgba(100, 100, 100, 0.05);
  margin-bottom: 4px;
  height: auto;
  text-align: left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
}

#starred {
  background-color: inital;
}

.project_container:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project_container:hover .title {
  color: #1683cc;
}

.thumbnail {
  width: auto;
  height: 100%;
  float: left;
  clear: both;
  padding-right: 5px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.432);
}

.thumbnail:after {
  content: "";
  display: table;
  clear: both;
}

.img {
  width: 400px;
  height: 100%;
  float: left;
  clear: both;
  overflow: hidden;
}

.img img {
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.text {
  width: 100%;
}

.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.title, .description, .category, .link {
  padding: 0;
  margin: 5px 0px 5px 0px;
}

.link {
  margin-right: 0px;
  color: inherit;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link:hover {
  cursor: pointer;
  background-color: initial;
  border: 1px solid #333333;
}

.category {
  font-weight: 400;
  font-size: 16px;
  color: #1683cc;
}

.description {
  font-weight: 400;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.icon {
  width: 40px;
  height: auto;
  margin: 10px 0 10px 0;
}

.date {
  font-weight: 400px;
  float: right;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  padding: 50px;
}

@media only screen and (max-width: 950px) {
  #container {
    width: 100%;
  }
  body {
    -webkit-box-shadow: initial;
            box-shadow: initial;
    padding: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media only screen and (max-width: 750px) {
  .thumbnail {
    padding: initial;
    margin: initial;
    border: initial;
    width: 100%;
  }
  .project_container {
    padding: 10px;
  }
  .img {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .text {
    width: 100%;
  }
  hr {
    border-top-width: 1px;
  }
}
/*# sourceMappingURL=style.css.map */
