
html {
    height: 100%;
    width: 100%;
  }
  
  body {

    font-family: 'Teko';
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #2d303a;
    background-color: #1e1e1e;
    /* background-color: gray; */
    /* background-color: black; */
    font-size: 36px;
    color: #fff;
  }
  #canvas
  {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
  }

  #content
  {    

    /* background: radial-gradient(transparent 0%, #252830); */
    background: radial-gradient(transparent 0%, #1e1e1e);
    /* box-shadow: inset 0px 0px 100px 80px black; */
    width:100%;
    height:100%;
    z-index: 1;
    box-shadow: 0px 0px 20px 0px black;
  }
  #titles
  {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
  }
  h2{
      margin:0;
      font-size: 35px;
  }
  
  h3 {
    font-size: 28px;
    font-weight: 200;
    opacity: .5;
    color: #fff;
    margin:0;
  }
  .chapter
  {
    color:white;
    opacity: 1;
    font-size:30px;
}

  button{
    
    background-color: rgba(0,0,0,0);
    color:white;
    border: 1px solid white;
    display: inline;
    margin:0;
  }
  #github:hover img {
    width: 46px;
    opacity: 1;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  #github img {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 40px;
    margin-bottom: 3px;
    margin-top: 3px;
    filter: invert(1);
  }
  #github
  {
    display: inline-block;
  }

  #effect_index{
    display: inline;
    font-size: 18px;
    opacity: 0.6;
    margin: 0 10px 0 10px;
  } 

  #down_icon
  {
    filter: invert(1);
    width: 30px;
    padding: 10px;
    margin:20px;
    opacity: 0;
    /* box-sizing: border-box ; */
    border: 3px solid black;
    border-radius: 100%;
    display: block;
    margin:0 auto;
    animation: mymove 3s ease-out;
    position: relative;
    animation-iteration-count: infinite;


  }

  @keyframes mymove {
    0% {
      top: 0px;
      opacity: 0;
    }
    50%
    {
      opacity: 1;
    }
    100% {
      top: 60px; opacity: 0;
    }

  }

  #projects
  {
  background-image: url("src/imgs/bg_white.png");
    /* width: 50%; */
    /* margin:0 auto; */
    padding: 10px;
    box-sizing: border-box;
    /* background-color: black ; */
  }
  .project
  {
    width: 50%;
    border: 1px solid white;

    /* background-color: blue; */
    padding: 10px;
    box-sizing: border-box;
    float: left;
  }
  .project h4{
    margin:0;
    padding:0;
  }


  .project_container {
    font-size: initial;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* background-color: rgba(255, 255, 255, 0.05); */
    background-color: #3f3f3f2c;
    
    padding: 20px;
    margin-bottom: 4px;
    height: auto;
    text-align: left;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px black;

  }
  
  #starred {
    background-color: inital;
  }
  
  .project_container:hover .img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .project_container:hover .title {
    color: #f7aa1c;
  }
  
  .project_container_dark:hover .title {
    color: #f7aa1c;
  }
  .project_container_dark
  {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .thumbnail {
    width: auto;
    height: 100%;
    float: left;
    clear: both;
    padding-right: 5px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.432);
  }
  
  .thumbnail:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .img {
    width: 400px;
    height: 100%;
    float: left;
    clear: both;
    overflow: hidden;
  }
  
  .img img {
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .text {
    width: 100%;
  }
  
  .title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 25px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  
  .title, .description, .category, .link {
    padding: 0;
    margin: 5px 0px 5px 0px;
  }
  
  .link {
    margin-right: 0px;
    color: inherit;
    font-weight: 600;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .link:hover {
    cursor: pointer;
    background-color: initial;
    border: 1px solid #333333;
  }
  
  .category {
    font-weight: 400;
    font-size: 16px;
    color: #f7aa1c;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .category_dark_mode {
    font-weight: 400;
    font-size: 16px;
    color: #f7aa1c;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .description {
    font-weight: 400;
    font-size: 15px;
    font-family: "Lato", sans-serif;
  }
  
  .icon {
    width: 40px;
    height: auto;
    margin: 10px 0 10px 0;
  }
  
  .date {
    font-weight: 400px;
    float: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
  }

.tooltip:hover{
  background-color: white;
  color:black;
}
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 25px;
    font-size: 15px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  footer {
    background-color: black;
    font-family: initial;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  